[Unit]
Description=uWSGI captcha project
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/server/docker-apps/py_tencent_slider_crack
Environment="PATH=/server/docker-apps/py_tencent_slider_crack/venv/bin"
ExecStart=/server/docker-apps/py_tencent_slider_crack/venv/bin/uwsgi /server/docker-apps/py_tencent_slider_crack/uwsgiconfig.ini

[Install]
WantedBy=multi-user.target